body {
	color: #555555;
	background-color: #EEEEEE;
	font-family: lato, sans-serif;
}

#container {
	width: 600px;
	margin: 100px auto;
	box-shadow: 2px 2px 6px #AAAAAA;
	border: 0px solid;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#title-bar {
	background-color: white;
	font-weight: bold;
	padding: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#divider {
	background-color: #39B54A;
	height: 1px;
}

#main-box {
	background-color: white;
	padding: 20px;
}

.inputs {
	height: 34px;
}

#loader {
	display: none;
	width: 100px;
	height: 4px;
	background: #AAAAAA;
	position: relative;
	animation: mymove 60s infinite;
	-webkit-animation: mymove 60s infinite; /*Safari and Chrome*/
}

@keyframes mymove {
	from {
		width: 0px;
	}
	to {
		width: 100%;
	}
}

@-webkit-keyframes mymove {
	from {
		width: 0px;
	}
	to {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
  #container {
    width: 100%;
  }
}	