body {
	color: #555555;
	background-color: #EEEEEE;
	font-family: 'Lato', sans-serif;
}

#container {
	width: 600px;
	margin: 100px auto;
	box-shadow: 2px 2px 6px #AAAAAA;
	border: 0px solid;
	border-radius: 5px;
}

#title-bar {
	background-color: white;
	font-weight: bold;
	padding: 20px;
	height: 60px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#divider {
	background-color: #39B54A;
	height: 1px;
}

#main-box {
	background-color: white;
	padding: 20px;
	width: 560px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.inputs {
	text-align: right;
}

#loader {
	display: none;
	width: 100px;
	height: 4px;
	background: #AAAAAA;
	position: relative;
	animation: mymove 60s infinite;
	-webkit-animation: mymove 60s infinite; /*Safari and Chrome*/
}

@keyframes mymove {
	from {
		width: 0px;
	}
	to {
		width: 100%;
	}
}

@-webkit-keyframes mymove {
	from {
		width: 0px;
	}
	to {
		width: 100%;
	}
}

.awty-progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    width: 0;
    height: 5px;
    z-index: 9999;
    transition: width 1s ease,
                height .2s ease;
}

@media screen and (max-width: 600px) {
  #container {
    width: 100%;
  }
}	
